<div class="container">
	<h1 class="text-center buffer2">Toubabs do Wolof</h1>
</div>

<div class="container">
	<div class="row text-center buffer">
		<div class="col-xs-3 col-xs-offset-3">
			<h3>
				Wolof
			</h3>
		</div>
		<div class="col-xs-3">
			<h3>
				English
			</h3>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-3 col-xs-offset-3">
			<ul>
				<% @vocab.order(:wolof).each do |item| %>
				<li><%= item.wolof %></li>
				<% end %>
			</ul>
		</div>
		<div class="col-xs-3">
			<ul>
				<% @vocab.order(:wolof).each do |item| %>
				<li><%= item.english %></li>
				<% end %>
			</ul>
		</div>	
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 text-center">
			<h3>Enter new word or phrase</h3>
		</div>
	</div>
	<div class="row text-center buffer">
		<form action='/' method='POST'>
			<div class="col-xs-3 col-xs-offset-3">
				<input type='text' name='wolof' placeholder='Wolof'>
			</div>
			<div class="col-xs-3">
				<input type='text' name='english' placeholder='English'>
			</div>
			<div class="row text-center">
				<div class="col-xs-12 buffer">
					<input type='submit' value='Save'>
				</div>
			</div>
		</form>
	</div>
</div>
