<div class="container">
	<h1 class="text-center buffer2">Toubabs do Wolof</h1>
</div>

<div class="container buffer3">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<tr>
					<th>Wolof</th>
					<th>Phonetic</th>
					<th>English</th>
					<th>Delete</th>
				</tr>
				<% @vocab.order(:wolof).each do |item| %>
				<tr>
					<td><%= item.wolof %></td>
					<td><%= item.sound %></td>
					<td><%= item.english %></td>
					<td><form action='/delete/<%= item.id%>' method='POST'>
					<input type='submit' value='X'>
					</form></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 text-center">
			<h3>Enter new word or phrase</h3>
		</div>
	</div>
	<div class="row text-center buffer">
		
		<form action='/' method='POST'>
			<div class="col-xs-4">
				<input type='text' name='wolof' placeholder='Wolof'>
			</div>
			<div class="col-xs-4">
				<input type='text' name='sound' placeholder='Sound'>
			</div>		
			<div class="col-xs-4">
				<input type='text' name='english' placeholder='English'>
			</div>
			<div class="row text-center">
				<div class="col-xs-12 buffer">
					<input type='submit' value='Save'>
				</div>
			</div>
		</form>
	
	</div>
</div>
