<strong>Enter new word or phrase</strong>
<form action='/' method='POST'>
  <input type='text' name='wolof' placeholder='Wolof' />
  <input type='text' name='english' placeholder='English' />
  <input type='text' name='type' placeholder='Type' />
  <input type='submit' value='Save'>
</form>
